.tglink {
    background: rgba(53, 57, 69, 1);
    background: -webkit-linear-gradient(
        to right,
        rgba(35, 38, 47, 1),
        rgba(35, 38, 47, 0.7)
    );
    background: linear-gradient(
        to right,
        rgba(35, 38, 47, 1),
        rgba(35, 38, 47, 0.7)
    );
}